
.license-autocomplete {
  &__list-item {
    display: flex;
    flex: 1 0 100%;
    max-width: 100%;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
  }

  &__names {
    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__badge {
    padding: 0.4rem;
    text-transform: uppercase;
    font-variant: small-caps;
    border: 1px solid var(--ruling-color);
    background-color: var(--grey-50);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
