.start-menu {
  & .menu__header-icon {
    color: var(--text-color--light);
    transition: color 0.2s, left 0.2s;
    position: relative;

    left: 0.4rem;
    &:hover {
      color: var(--text-color);
    }
  }

  &--alert .menu__header-icon {
    left: 0;
    top: 0;
  }
}
