/* note some styles are set in rdfa-figure */

.rdfa-caption {
  font: var(--sans-body-type);
  color: var(--sans-body-type__color);

  &:empty {
    padding: 0;
  }

  @media print {
    font: var(--sans-body-print-type--small);
    color: var(--sans-body-print-type--small__color);
    letter-spacing: var(--sans-body-print-type--small__letter-spacing);
  }

  & &__label {
    margin-right: 1rem;
    font-weight: 500;
  }
  &__body {
    color: var(--text-color--light);
  }

  &__section {
    margin: var(--sgrd) 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:empty {
      margin-top: 0;
      margin-bottom: 0;
      display: content;
    }
  }
}
