/* ------------------------------------ *\
    #Reset OS Gui Base styles
\* ------------------------------------ */

/* Clear out focus glows */
button::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  line-height: normal;
}

/* ------------------------------------ *\
    #Reset OS GUI Button Styles
\* ------------------------------------ */

[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background-repeat: no-repeat; /* make the background image appear only once */
  background-position: center center; /* equivalent to 'top left' */
  background-size: 24px 24px;
  border: medium none;
  border-spacing: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  appearance: none; /* for mobile safari */
  box-sizing: content-box;
  white-space: nowrap;
}
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background-color: transparent; /* make the button transparent */
}

/* the material round button */
.button--action {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  background-color: var(--grey-400);
  box-shadow: var(--high-shadow);
  transition: background-color 300ms;
}

.button--action:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

html[data-focus-source='key'] > body .button--action:focus {
  background-color: var(--accent-color--dark);
}

.button--action:active {
  box-shadow: var(--low-shadow);
}

.button--flat {
  color: var(--accent-color);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: var(--xsgrd) var(--sgrd);
  border-radius: 4px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.button--flat:hover {
  background-color: var(--grey-100);
  text-decoration: none;
}

.button--flat:focus {
  text-decoration: none;
  outline: 0;
}

html[data-focus-source='key'] > body .button--flat:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.button--flat[aria-disabled='true'],
.button--flat:disabled,
.button--flat[disabled] {
  opacity: 0.26;
  color: black;
}

.button--flat[aria-disabled='true']:hover,
.button--flat:disable:hover,
.button--flat[disabled]:hover {
  background-color: transparent;
  cursor: default;
}

.button--raised {
  color: white;
  background-color: var(--accent-color);
  font-size: 13px;
  text-transform: uppercase;
  padding: var(--xsgrd) var(--sgrd);
  border-radius: 4px;
  letter-spacing: 0.025rem;
  cursor: pointer;
  box-shadow: var(--low-shadow);
  transition: box-shadow 0.2s;
}

.button--raised:hover {
  background-color: var(--accent-color--dark);
}

.button--raised:focus {
  outline: 0;
}

html[data-focus-source='key'] > body .button--raised:focus {
  background-color: var(--accent-color--dark);
}

.button--raised:active {
  box-shadow: var(--high-shadow);
}

/*=============================================>>>>>
= used for spinning expand more/expand less buttons  =
===============================================>>>>>*/

.expand-button {
  transition: transform 0.2s;

  &--more {
    transform: rotate(180deg);
  }
}
