.workflow-badge {
  position: relative;
  &__background {
    position: relative;
    /* background-color: darkgrey;
    border: 1px solid grey; */
  }
  /* &__footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-right: 3px;
    align-items: center;
    justify-content: space-between;
    opacity: 0.7;
    &__matrix-container {
      flex: 0 0 auto;
      box-sizing: border-box;
      padding-left: 4px;
    }
  } */

  &__date-range {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    font: 400 10px/11px 'Roboto', 'Sans-Serif';
    position: relative;
    padding-left: 1px;
    bottom: -0.035em;
    box-sizing: border-box;
  }
}

.workflow-badge-role-icon {
  &__person {
    transition: fill 0.2s;
  }

  &__count-circle {
    transition: fill 0.2s;
  }
  &__count {
    font: 500 6.25px Roboto, 'sans-serif';

    /* letter-spacing: -0.25px; */
  }
}
