.workflow-badge {
  position: relative;

  &__background {
    position: relative;
    /* background-color: darkgrey;
    border: 1px solid grey; */
  }
  &__footer {
    font-stretch: condensed;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 4px;
    align-items: center;
    justify-content: space-between;
    opacity: 0.7;

    &__matrix-container {
      flex: 0 0 auto;
      box-sizing: border-box;
      padding-left: 3px;
      padding-top: 3px;
    }
  }

  &__date-range {
    /* 
    font must be fixed width to estimate min width necesarry to render to date sets. 
      note that Roboto has fixded with numerals.
    */
    font-family: 'roboto', monospace;
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    font: 400 10px/11px 'Roboto', 'Sans-Serif';
    position: relative;
    padding-left: 1px;
    bottom: -0.035em;
    box-sizing: border-box;
    letter-spacing: 0;

    &__line {
      border: none;
      margin: 0 3px;
      flex: 1 1 auto;
    }
  }

  &__left-column {
    /* more styles set in js */
    position: absolute;
    left: 0;
    top: 0;

    &__role-icons {
      padding: 3px; /* padding is % of element width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__scroll-area {
    /* more styles set in js */
    position: absolute;
  }

  &__scroll-contents {
    width: fit-content;
    height: 100%;
    line-height: 0; /* remove unwanted vertical space from line-breaks */
  }

  &__cell-bg {
    z-index: -1;
  }
}

.workflow-badge-role-icon {
  &__person {
    transition: fill 0.2s;
  }

  &__count-circle {
    transition: fill 0.2s;
  }
  &__count {
    font: 500 6.25px Roboto, 'sans-serif';

    /* letter-spacing: -0.25px; */
  }
}

.workflow-badge-matrix {
  &__grid {
    z-index: 0;
    position: absolute;

    &__cell--tooltip {
      transition: background-color 0.1s;
      &:hover {
        background-color: #c6c6c6 !important;
      }
    }
  }

  &__path-svg {
    position: relative;
    z-index: 10;
    pointer-events: none;
  }
}
