.link-button {
  color: var(--accent-color);
  font: inherit;
  letter-spacing: inherit;
  padding: 0;
  margin: 0;
  display: inline;
  cursor: pointer;

  /* border-bottom: 1px dotted transparent; */

  &:hover {
    color: var(--accent-color--dark);
  }

  &:focus {
    outline: none;
    text-decoration: underline dotted var(--accent-color--dark);
  }
}
