.organization-member-editor {

  font: var(--ui-type);
  color: var(--ui-type__color);
  letter-spacing: var(--ui-type__letter-spacing);

  & * {
    box-sizing: border-box;
  }

  min-width: 32rem;
  max-width: 32rem;
  flex: 1 1 32rem;

  &__header {
    position: relative;
    font: var(--ui-type--subhead-2);
    color: var(--ui-type--subhead-2__color);
    letter-spacing: var(--ui-type--subhead-2__letter-spacing);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mgrd);
  }

  &__user-info {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  & .user-badge {
    margin-right: var(--sgrd);
  }

}
